<html>
  <head>
    <title>Crée un commentaire</title>
  </head>
  <body>
    <h1>Crée ton commentaire </h1>
    <p>Potin numéro <%= id %>
    <p>Voici le potin actuel :</p>
    <% gossips.each do |gossip| %>
    <p> Le nom de l'auteur : <strong><%= gossip.author%> </strong></p>
    <p> Le contenu du potin : <strong><%= gossip.content%></strong> </p>
    <% end%>
    <form action='/gossips/comment/new/<%=id%>' method='POST'>
      Ecrit ton commentaire :   <input type='text' name='comment'/><br/>
        <input type='submit'/> 
    <a href="/"><button type="button" class="btn-lg btn-secondary">Retour</a>
    </form>
  </body>
</html>